{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'labexam/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'labexam/css/order-management.css' %}" rel="stylesheet">
{% endblock 'head' %}


{% block 'content' %}
    <br>
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-5">
                <h4>Create doctor access</h4>

                <form action="{% url "createDoctorAccess" %}" method="POST"> {% csrf_token %}

                    <label for="">Identification</label>
                    <br>
                    <input style="width: 100%" type="text" name="identification" id="" class="input-default">
                    <br>
                    <br>
                    <label for="">Access time (hours)</label>
                    <br>
                    <input style="width: 100%" type="number" name="access_time" id="" class="input-default">
                    <br>
                    <br>
                    <div class="row">
                        <label for="">Exams between:</label>
                        <div class="col-md">
                            <input style="width: 100%" type="date" name="inicial_exam_date" id="" class="input-default">
                        </div>
                        <div class="col-md">
                            <input style="width: 100%" type="date" name="final_exam_date" id="" class="input-default">
                            <br>
                            <br>
                        </div>
                   
                        
                    </div>
                    <input style="width: 40%" type="submit" class="btn-default" value="Create link">
                </form>
            </div>
            <div class="col-md">
                
                <div class="card">
                    <table style="text-align: center">
                        <tr>
                          <th>Id</th>
                          <th>Status</th>
                          <th>Link</th>
                          
                        </tr>
                        {% for acess in doctor_access %}
                            <tr class="table-row">
                                <td>{{acess.identification}}</td>
                                <td>Active</td>
                                <td><a href="http://127.0.0.1:8000/exam/doctor-access/{{acess.token}}">http://127.0.0.1:8000/exam/doctor-access/{{acess.token}}</a></td>
                            </tr>
                        {% endfor %}                      
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock 'content' %}