{% extends "bases/base.html" %}

{% load static %}

{% block 'head' %}
    <link href="{% static 'labexam/css/css.css' %}" rel="stylesheet">
    <link href="{% static 'labexam/css/order-management.css' %}" rel="stylesheet">
    <link href="{% static 'labexam/css/exam-management.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'content' %}
    <br><br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h4>{{exam_request.exam.name}}</h4>
        <br>
        <form action="{% url "requirePassword" exam_request.id %}" method="POST">{% csrf_token %}
            <label>Password</label>
            <br>
            <input type="password" name="password" class="form-control" style="width: 40%">
            <br>
            <input type="submit" class="btn-default" value="Submit">
        </form>
    </div>
{% endblock 'content' %}