{% extends "bases/base.html" %}

{% load static %}

{% block 'head' %}
    <link href="{% static 'labexam/css/css.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'content' %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3 class="font-contrast-primary">Request exams</h3>
                <!--<form action="" method="POST"> -->
                <form action="{% url 'request' %}" method="POST"> {% csrf_token %}
                <label for="">Select exams</label>
                    <select class="select form-control bg-select" multiple name="exams">
                        {% for exam in typeExam %}
                            <option class="opt" value="{{exam.id}}">{{exam.name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" class="btn-default size-2" name="last_name" value="Request Exam">
                </form>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md card">
                {% if requested_exams %}
                    {% for exam in requested_exams %}
                        <div style="font-size: 20px; font-weight: bold">
                            {% if exam.avaliable %}
                                <img src="{% static 'labexam/img/check.png' %}">
                            {% else %}
                                <img src="{% static 'labexam/img/exit.png' %}">
                            {% endif %}
                            {{exam.name}}
                            <span class="price-preview">
                                {{exam.price}}
                            </span>
                        </div>
                    {% endfor %}

                    <hr style="color: white;">
                    <div>
                        <label>Total: </label><label class="price-preview">{{total}}</label>
                    </div>
                    <br>
                    <h5>Data: 08 de Setembro</h5>
                    <br>
                    <form action="{% url 'closeRequest' %}" method="POST"> {% csrf_token %}
                        {% for exam in requested_exams %}
                            <input type="hidden" value="{{exam.id}}" name="examsHidden">
                        {% endfor %}
                        <button class="btn-secundary">Close request</button>
                    </form>
                {% else %}
                    <h5>Exam not selected</h5>
                {% endif %}            
            </div>
        </div>
    </div>
{% endblock 'content' %}