{% extends 'bases/base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'labuser/css/css.css' %}">
{% endblock 'head' %}

{% block 'content' %}
<br>
<br>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}
    <h3 class="font-contrast-primary">Register</h3>

    <form action="{% url 'register' %}" method="POST"> {% csrf_token %}
            <div class="row">
            <div class="col-md-3" style="text-align: center">
                <img src="{% static 'general/img/logo.png' %}" alt="">
                <h3>LabExams</h3>
            </div>
            <div class="col-md-9">
                <label>Frist name</label>
                <br>
                <input type="text" class="input-default" name="firstName">
                <br>
                <br>
                <label>Last name</label>
                <br>
                <input type="text" class="input-default" name="lastName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Username</label>
                <br>
                <input type="text" class="input-default w100" name="userName">
                <br>
                <br>
                <label>E-mail</label>
                <br>
                <input type="text" class="input-default w100" name="email">
            </div>
            <div class="col-md-4">
                <label>Password</label>
                <br>
                <input type="password" class="input-default w100" name="password">
                <br>
                <br>
                <label>Confirm password</label>
                <br>
                <input type="password" class="input-default w100" name="confirmPassword">
            </div>
        </div>
        <br>
        <input type="submit" class="btn-default" value="Submit">
    </form>
</div>
{% endblock %}